.a{
    display: flex;
    height: 100vh;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.a-right{
    flex:1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}
.a-award{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}
.a-title{
    font-weight: 400;
}
.a-sub{
margin: 18px 0;
}
.a-desc{
    font-weight: 200;
}
.a-award-texts{
    width: 70%;
    /* display: flex; */

}
.a-award-title{
    font-weight: bold;
    margin-bottom: 20px;
    color: #555;
}

@media only  screen and (max-width:600px) {
    .a{
        display: flex !important;
        flex-direction: column !important;
        margin: 0 auto;
        /* width: 100%; */
    }
    .a-card.bg{
        position: absolute;
        top: 50px;
        left: 30px;
        background-color: #333;
    }
    
    .a-card{
        width: 100%;
        height: 40vh;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .a-award{
        display: flex;
        margin-left: 5px;
        align-items: center;
        margin-top: 30px;
        justify-content: space-between;
    }
    .a-title{
        font-weight: 400;
        margin: auto 15px;
    }
    .a-sub{
    margin: auto 15px;
    }
    .a-desc{
        font-weight: 200;
        margin: auto 15px;
    }
    .a-award-texts{
        width: 70%;
        margin: auto 10px;

        /* display: flex; */
    
    }
    .a-award-title{
        margin: auto 10px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #555;
    }
}